<div class="content">
  <div class="container">
    <app-movie name="Бронкская история" image="https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/9f0cb9e2-3784-43a3-8293-f228e09cde13/600x900" year="1993 г."></app-movie>
    <app-movie name="Залечь на дно в Брюгге" image="https://citaty.info/files/posters/5869.jpg" year="2008 г."></app-movie>
    <app-movie name="Отель «Гранд Будапешт»" image="https://upload.wikimedia.org/wikipedia/ru/f/f5/The_Grand_Budapest_Hotel.jpg" year="2014 г."></app-movie>
  </div>
</div>
