.content {
  max-height: 800px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-image: url("https://wallpapercave.com/wp/wp3982534.jpg");
}

.container {
  margin-left: 29%;
  margin-top: 100px;
  margin-bottom: 100px;
}


