<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Kinopoisk_logo_orange.png" alt="KinoPoisk">
    </a>
    <nav class="main-nav">
      <a href="#">Главная</a>
      <a href="#">Медиа</a>
      <a href="#">Онлайн-кинотеатр</a>
      <a href="#">Сериалы</a>
      <a href="#">Фильмы</a>
    </nav>
  </div>
</header>
