.footer {
  background-image: url("http://www.rhodesonthepawtuxet.com/wp-content/themes/options/images/skins/headers/full_width/header-jetBlack.jpg");
  text-align: center;
  padding: 15px 0;
  border-bottom: 2px solid yellow;
  border-top: 2px solid yellow;
}

.logo img {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
}

.main-nav a {
  color: darkgrey;
  font-size: 14px;
  font-weight: bold;
  margin: 0 15px;
  text-decoration: none;
}
