<div class="footer">
  <div class="container">
    <a href="#" class="logo">
      <img src="https://lh3.googleusercontent.com/mTtqtXPCR8ehowQKjaDtXpRFNFywNwMAM08OpjHmGdTm4VLc8IwvlkDKwNW3BegMpDc" alt="VK" style="height: 25px">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/1200px-Facebook_icon.svg.png" alt="VK" style="height: 25px">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Telegram_Messenger.png" alt="VK" style="height: 25px">
      <img src="https://cdn2.downdetector.com/static/uploads/logo/twitter-logo_18.png" alt="VK" style="height: 25px">
    </a>
    <nav class="main-nav">
      <a href="#">Вакансии</a>
      <a href="#">Реклама</a>
      <a href="#">Блог</a>
      <a href="#">Справка</a>
      <a href="#">Служба поддержки</a>
    </nav>
  </div>
</div>
