.movie {
  display: inline-block;
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 5px 5px black;
  text-align: center;
  background-color: whitesmoke;
}

.poster {
  display: inline-block;
}

.year {
  color: gray;
}
